*
{
    margin: 0;
    box-sizing: border-box;
}
.nav_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding:  20px 0;
    background-color: rgb(209, 206, 241);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.my_logo{
    display: block;
    text-decoration: none;
    color: #05386b;
    font-family: "roboto",sans-serif;
    font-weight: 700;
    font-size: 28px;
}
.spogo{
    color: #05386b;
    font-family: "Quicksand",sans-serif;
    font-weight: 300;
}
.nav_link{
    text-decoration: none;
    list-style: none;

}
.nav_list {
    display: inline-block;
    margin: 0px 20px;
}
.nav_list :hover{
    color: #f64672;
}
a{
    color: #2f2fa2;
    font-size: 20px;
}

.hero_page{
    background-color: #090979;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.hero_pic{
    border-radius: 0px 0px 800px 800px;
    height: 400px;
    padding-top: 80px;
    margin-top: 50px;
    background-color: rgb(8,8,116, 0.5);
}
.child_1{
    width: 40%; 
}
.child_1_1{
    width: 50%;
}
.int{
    font-family: "roboto", sans-serif;
    font-weight: 600;
    padding-left: 5px;
    color: #edf5e1;
    font-size: 50px;
}
.will{
    font-size:42px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    color: rgb(237, 245, 225, 0.8);
}
.hero_text{
    font-size: 20px;
    color: rgb(237, 245, 225, 0.4);
    font-family: "ubuntu", sans-serif;
}

#about{
    height: 90vh;
    background-color: #E1EBEE;
}
.about_img{
    width: 30%;
}
.about_image{
    height: 400px;
    border-radius: 200px;
    background-color: #025088;
    margin-top:100px;
    margin-left: 50px;
}
.about_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.about_container{
    margin-left: 100px;
}
.about_header{
    font-size: 35px;
    color: #011b39;
}
.about_text{
    font-size: 20px;
    font-family: "ubuntu", sans-serif;
    color: #011b39;
}
.about_card{
    display: flex;
    margin: 20px 0 40px;
}
.about_list{
    margin-right: 50px;
    font-weight: bolder;
    color: #011b39;
    font-size: 18px;
   
}
.about_list:active{
    color: white;
}
.skill_set{
  margin: 10px;
  list-style: none;
  
}
.showcase_skill{
    background-color: #025088;
    border-radius: 15px;
    padding: 10px;
    color:aliceblue;
    display: none;
    width: 250px;
}
.showcase_experience{
    background-color: #025088;
    border-radius: 15px;
    padding: 10px;
    color:white;
    display: none;
    width: 300px;
}
.showcase_education{
    background-color: #025088;
    border-radius: 15px;
    padding: 10px;
    color:white;
    display: none;
    width: 300px;
}
.icon{
    font-size: 22px;
    padding: 10px;
}
.iconz{
    font-size: 22px;
    color: #5379be;
    display: hidden;
}

#contact{
    height: 110vh;
    background-color: rgb(21, 73, 110, 0.6);
}
.contact_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.child1{
    width: 50%;
}
.child2{
    width: 30%;
}
.contact_title{
    text-align: center;
    font-size: 35px;
    color: #011b39;
    padding-top: 50px;
}
.contact_icon p{
    color: aliceblue;
    font-size: 18px;
}
.title{
    text-align: center;
    font-size: 28px;
    color: #011b39;
    margin: 30px;
}
input{
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(225, 225, 225, 0.6);
}
.form_input{
    margin: 10px;
}
.submit_btn{
    padding-left: 10px;
    color: #fff;
}
.btn{
    background-color:#2c2ca1;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    padding: 15px;
}
.btn_div{
    text-align: center;
}
textarea{
    background-color: rgb(225, 225, 225, 0.6);
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.contact_icon{
    margin: 40px;
    display: flex;
    flex-direction: row;
}
.contact_label{
    font-size: 20px;
}
.tact{
    font-size: 18px;
    padding-right: 20px;
}
.social_icon{
    margin: 20px;
}
.social{
    padding: 20px;
    font-size: 25px;
}

/* -----Game div---- */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
#game{
    height: 100vh;
    text-align: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(214,109,154,1) 58%);
    position: relative;
}
#game >h1{
    color: rgb(150, 204, 238);
    padding-top: 20px;
}
.game_field{
    background-color: white;
    box-shadow: 5px 8px 12px 8px rgb(37, 37, 37, 0.8);
    height: 500px;
    width: 700px;
    position: absolute;
    top: 100px;
    left: 400px;
    padding: 50px;
}
.player1 >h1{
    font-weight: lighter;
    font-size: 22px;
}
.player2 >h1{
    font-weight: lighter;
    font-size: 22px;
}
#globalScore1{
    margin: 30px;
    font-size: 25px;
}
#globalScore2{
    margin: 30px;
    font-size: 25px;
}
.players{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.current_box{
    background-color: rgb(246, 70, 114, 0.8);
    color: white;
    padding: 10px;
    margin-top: 150px;
}
#die_1{
    height: 70px;
    width: 70px;
    margin: 10px;

}
#die_2{
    height: 70px;
    width: 70px;
    margin: 10px;
}
#newGame{
    background-color: rgb(246, 70, 114, 0.8);
    color: white;
    padding: 8px;
    border-radius: 35px; 
    border: none;
    position: absolute;
    top: 20px;
    left: 300px;
}
#rollDice{
    padding: 8px;
    border-radius: 35px; 
    border: none;
    color: white;
    background-color: rgb(246, 70, 114, 0.8);
    position: absolute;
    bottom: 100px;
    left: 300px;
}
#finalScore{
    padding: 8px;
    border-radius: 35px; 
    border: none;
    color: white;
    background-color: rgb(246, 70, 114, 0.8);
    position: absolute;
    bottom: 20px;
    left: 290px;
}
.dice_stage{
    display:flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 300px;
}
.mobile_game{
    display: none;
}


/* ----mobile device----- */
.close_tab{
    display: none ;
    position: absolute;
    top: 20px;
    left: 20px;
}
.open_tab{
    display: none;
}

@media only screen and (max-width: 920px){
    .close_tab{
        display: block;
        font-size: 22px;
        color: #acace7;
        position: absolute; 
    }
    .open_tab{
        display: block;
        font-size: 22px;
        position: absolute; 
        right: 25px;
    }
    a{
        color: #acace7;
        font-size: 20px;
    }
    
    .nav_item{
        background-color: rgb(1, 27, 57,0.7);
        width: 200px;
        top: 0;
        right: -200px;
        position: fixed;
        height: 100vh;
        z-index: 2;
        transition: 0.5s;
    }
    .nav_list {
        display:list-item;
        margin: 50px;
        list-style: none;
        padding-top: 20px;
        color: #E1EBEE;
    }
    .hero_page{
        height: 80vh;
        flex-direction: column-reverse;
        justify-content:space-evenly;
    }
    .hero_pic{
        height: 200px;
        padding-top: 20px;
        margin-top: 100px;
    }
    .will{
        font-size:25px;
    }
    .int{
        font-size: 30px;
    }
    .hero_text{
        font-size: 18px;
    }
    #about{
        height: 105vh;
        background-color: #E1EBEE;
    }
    .about_image{
        height: 150px;
        border-radius: 300px;
        text-align: center;
    }
    .about_div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .about_container{
        margin: 20px;
    }

    .about_header{
        font-size: 25px;
    }
    .about_text{
        font-size: 15px;
    }
    .about_list{
        display: flex;
        margin-right: 30px;
        cursor: pointer;
    }

    #contact{
        height: 130vh;
    }
    .contact_flex{
        display: block;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .btn{
        padding: 10px;
    }
    .social_icon{
        margin: 10px;
    }
    .title{
        font-size: 20px;
        margin: 5px;
    }
    .child2{
        width: 50%;
    }
    /* ---game--- */
    #game{
       height:50vh;
       width: auto;
    }
    #game >h1{
       display: none;
     }
    #game >p{
    display: block;
    padding: 50px;
    }
    .game_field{
        display: none;
    }